<!DOCTYPE html>
<html>
	<head>
		<title>Summary</title>
		<meta charset="utf-8">
		<link rel="stylesheet"  href="../styles/style.css" type="text/css">
	</head>
<body>
	 <div class="header">
      	<div class="header__name "> Плотникова Александра  </div>
      	<div class="header__profession"> Web-разработчик</div>
     	<div class="header__more-info">   Улица: Бородина| Страна:Россия| Город:Омск </div>
      	<div class="header__more-info" >  Телефон:<a href="tel:+7 (965) 875-40-26">+7 (965) 875-40-26  </a> |Email:<a href="mailto:alex.maximovna@gmail.com"> alex.maximovna@gmail.com  </a>|</div>
	</div>
    <div class="leftblock">
      <div class="leftblock__photo"><img src="../images/photo.jpeg" alt="не удалось загрузить изображение"></div>
      <div class="description-item ">Навыки</div>
      <div class="skill">Коммуникабельность</div>
      <div class="bar"><div class=" bar__progress bar__progress_lvl-comm"></div></div>
      <div class="skill">Креативность</div>
      <div class="bar"><div class=" bar__progress bar__progress_lvl-creat"></div></div>
      <div class="skill">Работа в команде</div>
      <div class="bar"><div class="bar__progress bar__progress_lvl-teamwork"></div></div>
      <div class="skill">Организационность</div>
      <div class="bar"><div class="bar__progress bar__progress_lvl-organaz"></div></div>
      <div class="skill">Лидерство</div>
      <div class="bar"><div class="bar__progress bar__progress_lvl-lider"></div></div>
      <div class="skill">Участник команды</div>
      <div class="bar"><div class="bar__progress bar__progress_lvl-player"></div></div>
      <div class="description-item">Работа с ПО</div>
      <div class="skill ">Photoshop</div>
      <div class="bar"><div class="bar__progress bar__progress_lvl-photosh"></div></div>
      <div class="skill ">Coding/CSS</div>
      <div class="bar"><div class="bar__progress bar__progress_lvl-css"></div></div>
    </div>
    <div class="rightblock">
      <div class="description-item ">О себе</div>
        <div class="rightblock__description"><span class="font-bold">Я,Плотникова Александра Максимовна</span>,студентка 2 курса факультета ИМИТ ОмГУ им.Достоевского.Я отзывчивая,вежливая,воспитанная ,ответственная,целеустремленная девушка,которая умеет: легко находить контакт с людьми,расставлять приоритеты, добиваться поставленных целей,эффективно планировать свое время самостоятельно принимать решения, работать в команде.В свободное время предпочитаю чтение художественной и профессиональной литературы,посещение кино, музеев, выставок.
       </div>
      <div class="description-item ">Образование</div>

        <div class="rightblock__description"> <p class="rightblock__year">2005/2016    обучалась в БОУ ОО "МОЦРО № 117" ,окончила с золотой медалью</p>
         <p class="rightblock__year">2016/2020 обучаюсь на факультете ИМИТ ОмГУ им.Достоевского</p></div>
         
      <div class="description-item ">Опыт работы</div>
        <div class="rightblock__description">Профессионального опыта работы пока еще нет </div>
        <div class="description-item ">Обратная связь</div>
        <div class="rightblock__name">Анна Тарасенко</div>
        <p >email:<a href="mailto:aloha@7bits.it">aloha@7bits.it</a> </p>
        <p >Телефон: <a  href="tel:+7 (909) 535-00-73" >+7 (909) 535-00-73</a> </p>
        </div>
    </div>
    <div class="footer"></div>
 
</body>
  </html>

